node_modules
dist
test_env
.env.local
.gitignore
.gitmodules
.helm
docker-compose.yml
Makefile
.pipelines
.gitlab-ci-functions
LICENSE
.editorconfig
.docker/config.json
.helm/cluster.yml
.pipelines/.env.*
.git
.idea
